html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  margin:0;
  background-color: #D3D3D3;
}

h1{
  font-size: 54px;
  font-family: 'Julee', cursive;
}

a{
  color: #B57EDC;
  font-size: 30px;
}

p{
  font-size: 30px;
}

a:hover{
  color: #4682B4;
  font-size:28px;
}

.tv{
  position:fixed;
  z-index:100;
}

.tv.top{
  top:0;
}

.tv.bottom{
  bottom:0;
}

.tv.left{
  left:0;
}

.tv.right{
  right:0;
}

.tv.middle{
  left:100px;
  right:85px;
  width: calc(100% - 200px);
}

.tv.top.middle{
  height:59px
}

.tv.bottom.middle{
  height:68px;
}

.tv.center{
  top: 85px;
  height: calc(100% - 170px);
  width: 77px;
}

.content{
  padding: 100px;
}

.content a {
  display: inline-block;
  min-width: 200px;
  width: 25%;
}

.content img {
  display: block;
  width: 100%;
}

.nav{
  font-size: 24px;
  font-family: 'Julee', cursive;
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
  width: 35%;
}

.logo{
max-width: 200px;
max-height: 200px;
width: 25%;
height: 30%;
}

.main{
  bottom: 100px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  width: 75%;
z-index: 100;
}

.nav a{
  padding-right: 8px;
}

.connect a{
  color: darkblue;
}

.connect a:hover{
  color: black;
}

#email{
  font-size: 30px;
  color: darkblue;
}




/*.background{
  position: fixed;
  z-index:50;
}*/
